@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Montserrat:400,700|Open+Sans:400,300,300italic,400italic,600italic,700,600,700italic,800,800italic);
@import "bootstrap";

html, body {
	height: 100%; 
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}
html {
	background-color: $gray;
	padding-top: 24px;	
	overflow: hidden;
}
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0070e0+0,132c72+50,f20075+100 */
	background: rgb(0,112,224); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(0,112,224,1) 0%, rgba(19,44,114,1) 50%, rgba(242,0,117,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(0,112,224,1) 0%,rgba(19,44,114,1) 50%,rgba(242,0,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(0,112,224,1) 0%,rgba(19,44,114,1) 50%,rgba(242,0,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070e0', endColorstr='#f20075',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url('../img/bkg.jpg');
	background-size: cover;
	background-position: center -20px;
	background-repeat: no-repeat;
	color: white;
	overflow: auto;
	padding: 48px 0;
	p {
		color: $gray-lighter;
	}
}
a {
	&:hover {
		cursor: pointer;
	}
}
.btn {
	-webkit-appearance: none;
	-moz-appearance:    none;
	-o-appearance:    none;
	appearance:   none;
	border: 0;
	display: inline-block!important;
	border-radius: 30px;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 14px 30px;
	font-weight: 300;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: .08em;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	&.btn-primary {
		background-color: transparent;
		border: 2px solid white;
		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}
	&.btn-center {
		margin: auto;
		display: block;
	}
	&.btn-small {
		padding: 12px 20px;
		font-size: 8px;
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
}
.float-left {
	float: left!important;
}
.logo {
	display: block;
	width: 120px;
	height: 120px;
	background-image: url('../img/logo.png');
	background-size: contain; 
	background-repeat: no-repeat; 
	background-position: center center;
	margin: 10% auto 0;
}
.logo-text {
	background-image: url('../img/logo_text.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 14px;
	height: 48px!important;
	width: 80px;
	margin: 7px;
	&:hover {
		background-color: transparent!important;
	}
}


.header {
	.nav {
		position: fixed; 
		left:0;
		right:0;
		top:24px;
		.brand {
			position: absolute;
			z-index: 0;
			left:0;
			right:0;
			.logo-text {
				margin: auto;
			}
		}
	}
}



.fa-logo {
	width: 36px;
	height: 28px;
	background-image: url('../img/logo.png');
	background-size: 100% auto; 
	background-repeat: no-repeat; 
	background-position: center top;
}

.app-head {
	padding-top: 5%;
	position: relative;
	.profile-image {
		background-repeat: no-repeat;
		background-size: cover; 
		background-position: center center;
		width: 20%;
		padding-bottom: 20%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		position: relative;
		margin: 0 auto 5%; 
	}
	.profile-info {
		text-align: center;
		position: relative; 
		.profile-username {
			font-size: 16px;
		    font-style: normal;
		    font-weight: 300;
		    letter-spacing: 0.02em;
		}
		.profile-title, .profile-location {
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-size: 10px;
			color: rgba(255,255,255,0.6);
			letter-spacing: 0.08em;
			padding-top: 4px;
		}
		.profile-location {
			&:before {
				content: '\f124';
				font-family: "FontAwesome";
				padding-right: 4px;
				color: $brand-info;
			}
		}
		.profile-level {
			position: absolute;
			top: 25%;
			left: 6%;
			&:before {
				font-family: "FontAwesome";
				display: block;
				content:'\f005  \f005  \f005  \f006  \f006';
				letter-spacing: 0.02em;
				color: #5ef2ff;
			}
			&.level-1 {
				&:before {
					content: '\f006  \f006  \f006  \f006  \f006 ';
				}
			}
			&.level-2 {
				&:before {
					content: '\f005  \f006  \f006  \f006  \f006 ';
				}
			}
			&.level-3 {
				&:before {
					content: '\f005  \f005  \f005  \f006  \f006 ';
				}
			}
			&.level-4 {
				&:before {
					content: '\f005  \f005  \f005  \f005  \f006 ';
				}
			}
			&.level-5 {
				&:before {
					content: '\f005  \f005  \f005  \f005  \f005 ';
				}
			}
		}
	}
}
.nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+51,1e69de+100&0.5+0,0.7+51,0.9+100 */
	background: -moz-linear-gradient(top,  rgba(109,179,242,0.5) 0%, rgba(54,144,240,0.7) 51%, rgba(30,105,222,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,0.5) 0%,rgba(54,144,240,0.7) 51%,rgba(30,105,222,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(109,179,242,0.5) 0%,rgba(54,144,240,0.7) 51%,rgba(30,105,222,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#806db3f2', endColorstr='#e61e69de',GradientType=0 ); /* IE6-9 */
	.fa {
		font-size: 18px;
	}
	li {
		height: 100%;
		float: right;
		position: relative;
		a {
			padding: 0 12px;
			height: 100%; 
			color: white;
			line-height: 48px;
			text-align: center;
			min-width: 40px;
			&:hover {
				background-color: $brand-info;
			}
			&:focus {
				background-color: $brand-danger;
			}
		}
	    li {
	    	width: 100%;
	    	a {
	    		color: white;
	    		font-weight: 300;
				border-bottom: 1px solid lighten($brand-danger, 6%);
				box-shadow: inset 0 1px 0 rgba(0,0,0,0.05%);
				background-color: $brand-danger!important;
	    	}
	    }
		.dropdown-menu {
		    position: fixed;
		    top: 10%;
		    left: 5%;
		    right: 5%;
		    box-shadow: 0 0 100px 100px rgba(5,32,75,0.8%);
		    padding:0;
		    border: 0;
		    background: transparent;
		    &.drop-search {
		    	box-shadow: none;
		    	li {
		    		background: transparent!important;
		    		border: 0 !important;
		    		input {
		    			background-color: $brand-info!important;
		    			box-shadow: 0 0 100px 100px rgba(5,32,75,0.8%);
		    			text-align: center;
		    			margin-bottom: 5%;
		    		}
		    		.btn {
		    			position: relative;
		    		}
		    	}
		    }
		}
	}
}

.page {
	float: left; 
	width: 100%;
	.link-group {
		text-align: center;
		padding-top: 10%;
		color: rgba(255,255,255,.1%);
		a {
			font-size: 10px; 
			color: rgba(255,255,255,.4%);
			&:first-child {
				color: rgba(255,255,255,.6%);
			}
		}
	}
	form {
		width: 100%;
		padding: 6%;
		text-align: center;
		p {
			font-family: 'Open Sans', sans-serif;
			text-transform: none;
			font-size: 10px;
			padding: 0 20px;
		}
		input {
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    white;
			    opacity:  1;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    white;
			   opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    white;
			   opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    white;
			   opacity:  1;
			}
			&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			  color:    white;
			  opacity:  1;
			}
		}
	}
}
.logged-in {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d70be+75,1880d2+100&0.8+75,0+100 */
background: -moz-linear-gradient(top,  rgba(13,112,190,0.8) 75%, rgba(24,128,210,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(13,112,190,0.8) 75%,rgba(24,128,210,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(13,112,190,0.8) 75%,rgba(24,128,210,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0d70be', endColorstr='#001880d2',GradientType=0 ); /* IE6-9 */
}

.home-page {
	padding-top: 10%;
	text-align: center;
	.btn {
		clear: both;
		margin-bottom: 8%;
	}
}
.login-page {
	.btn {
		margin-top: 10%;
	}
}
.post-options {
	text-align: center;
	padding-bottom: 4%;
}
.profile-feed {
	padding: 6% 2px;
	float: left; 
	width: 100%;
	&.thumbnails {
		.post {
			width: 25%;
			padding: 2px;
			.post-info {
				display: none;
			}
		}
		.viewThumbs {
			opacity : 0.2;
			pointer-events: none;
			cursor: default;
		}
	}
	&.list {
		.post {
			width:100%;
			padding: 0;
		}
		.viewList {
			opacity : 0.2;
			pointer-events: none;
			cursor: default;
		}
	}
	.post {
		float: left; 
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		a {
			//-webkit-filter: grayscale(1);
			//filter: grayscale(1);
			height: 100%;
			width: 100%;
			padding-bottom: 100%;
			display: block;
			background-size: cover; 
			background-repeat: no-repeat;
			background-position: center center;
			float: left;
		}
		.post-info {
			float: left;
			width: 100%;
			background-color: white;
			color: $gray;
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-size: 10px;
			text-align: center;

			a {
				display: inline; 
				text-decoration: none;
				padding:0;
				width: auto;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				font-size: 10px;
				text-align: left;
			}
			.fa {
				font-size: 16px;
				color: $cobalt;
				float: left;
			}
			.fa-bolt {
				color: $brand-danger;
			}
			.post-actions {
				text-align: center;
				padding: 10px 10px 0; 
				> div {
					vertical-align: top;
					display: inline-block; 
					padding: 0 4px;
					font-size: 14px;
					span {
						line-height: 20px;
						display: inline-block;
						padding-left: 4px;
						margin-top: -2px;
					}
				}
				.user {
					font-family: 'Open Sans', sans-serif;
					text-transform: none;
					padding: 10px 0;
					border-bottom: 1px solid $gray-lighter;
					border-top: 1px solid $gray-lighter;
					width: 100%;
					margin-top: 10px;
					font-size: 10px;
					a {
						font-family: 'Open Sans', sans-serif;
						text-transform: none;
						float: none;
						font-weight: 500;
						color: $cobalt;
					}
				}
			}
		}
	}
}
.footer {
	background-color: $brand-info;
	height: 50px;
	position: fixed; 
	z-index: 20;
	bottom: 0;
	left: 0; 
	right: 0; 
	.nav {
		width: 100%;
		li {
			width: 20%; 
			height: 50px;
			display: block; 
			a {
				width: 100%;
				text-align: center;
				color: white;
				font-size: 20px;
				&:hover {
					background-color: $brand-warning;
				}
				&:focus {
					background-color: $brand-danger;
				}
				.fa-logo {
					margin-top: 10px;
				}
			}
		}
	}
}

// Test Code 
@media (max-width: 640px) {
	.view {
		margin:0;
		width: 100%;
		height: 100%;
		min-width: 0;
	}
}