<footer class="footer">
	<div class="footer">
	  <ul class="nav nav-pills">
		<li class="footer-activity">
		  <a role="button"><i class="fa fa-logo"></i></a>
		</li>
		<li class="footer-search">
		  <a href="#" role="button"><i class="fa fa-search"></i></a>
		</li>
		<li class="footer-picture">
		  <a href="#" role="button"><i class="fa fa-camera"></i></a>
		</li>
		<li class="footer-users">
		  <a href="#" role="button"><i class="fa fa-users"></i></a>
		</li>
		<li class="footer-profile">
		  <a  href="#/profile" role="button"><i class="fa fa-user"></i></a>
		</li>
	  </ul>
	</div>
</footer>