<header class="header">
<nav class="nav main-nav">
  <ul class="nav nav-pills">
	<li class="brand float-left">
		<a class="logo-text" href="#/home"></a> 
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" ><i class="fa fa-ellipsis-v"></i></a>
	  <ul class="dropdown-menu">
		<li><a>Recommend User</a></li>
		<li><a>View Schedule</a></li>
		<li><a>Block User</a></li>
		<li><a>Report User</a></li>
	  </ul>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle"><i class="fa fa-cog"></i></a>
	  <ul class="dropdown-menu">
		<li><a>Edit Profile</a></li>
		<li><a>Edit Schedule</a></li>
		<li><a>Edit Meal Plan</a></li>
		<li><a>Change Password</a></li>
		<li><a>Spot Requests</a></li>
	  </ul>
	</li>
	<li>
		<a class="dropdown-toggle"><i class="fa fa-inbox"></i></a>
	</li>
  </ul>
</nav>
</header>