<div class="page profile-page logged-in" ng-controller="ProfileCtrl">
	<div ng-include="src='partials/header.html'"></div>
	<div ng-include="src='partials/profile-user.html'"></div>
	<div ng-include="src='partials/profile-menu.html'"></div>
	

	
	<!-- Page Content Start-->
	<div class="profile-feed meals" ng-class="viewOptions">
		<div class="meals-info">
			<div class="meal" ng-repeat="meal in meals">
			  <div class="meal-time">{{meal.title}}</div>
			  <div class="meal-option" ng-repeat="meals in meal.meals">
				<div class="workout-reps">
				  <span>{{meals.quantity}}</span>
				  <span>{{meals.type}}</span>
				</div>
				<div class="workout-title">
				  {{meals.title}}
				  <span ng-repeat="area in workout.area"><i class="fa fa-{{area}}"></i></span>
				</div>
			  </div>
			</div>
		</div>	
	</div>
	<!-- Page Content End -->








	  <div ng-include="src='partials/footer.html'"></div>
</div>
