<div class="page profile-page logged-in" ng-controller="ProfileCtrl">
	<div ng-include="src='partials/header.html'"></div>
	<div ng-include="src='partials/profile-user.html'"></div>
	<div ng-include="src='partials/profile-menu.html'"></div>



  	<!-- Page Content Start-->
	<div class="profile-feed" ng-class="viewOptions">
		<div class="post" ng-repeat="post in posts" >
			<a href="" class="post-image" style="background-image:url('img/profile-images/{{post.image}}')"></a>
			<div class="post-info">
				<div class="post-actions" >
					<div class="trophies">
						<i class="fa fa-trophy"></i>
						<span ng-show="post.trophies.length > 0">{{post.trophies}}</span>
						<span ng-show="post.trophies.length === 0"> 0</span>
					</div>
					<div class="trainers" ng-show="post.trainer.length > 0">
						<a class="">
							<i class="fa fa-bolt"></i>
							<span>{{post.trainer}}<span><sp
						</a>
					</div>
					<div class="gym" ng-show="post.gym.length > 0">
						<a class="">
							<i class="fa fa-location-arrow"></i>
							<span>{{post.gym}}<span>
						</a>
					</div>
				</div>
				<div class="post-comments">
					<div class="comments">
						<div class="comment collapsed" ng-repeat="comment in post.comments  | limitTo: limit">
							<p><a href="{{comment.url}}" class="user">@{{comment.user}}</a><span>{{comment.comment}}</span></p>
						</div>
						<div class="show-more" ng-hide="post.comments.length < limit">
							<a class="more-link" ng-click="limitTo()">show more...</a>
						</div>
						<div class="show-less" ng-hide="post.comments.length < 4">
							<a class="more-link" ng-click="limitDown()">show less...</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	 <!-- Page Content End-->







	 <div ng-include="src='partials/footer.html'"></div>
</div>

