<div class="page profile-page logged-in" ng-controller="ProfileCtrl">

	<div class="app-head">
		<div class="profile-info" ng-repeat="info in myprofile" >
		  <div class="profile-level level-{{info.level}}"><label>Level</label></div>
		  <div class="profile-edit"><button class="btn btn-primary btn-small">Edit Profile</button></div>
			<a class="profile-image" href="#/profile" style="background-image: url('img/profile-images/{{info.image}}.jpg')"></a>
		  <div class="profile-username">{{info.name}}</div>
		  <div class="profile-title">{{info.title}}</div>
		  <div class="profile-actions"></div>
		  <div class="profile-location">{{info.city}}, {{info.state}}</div> 
		</div>
	</div>

	<div class="profile-feed schedule" ng-class="viewOptions">
		<div class="post-options">
			<a class="btn btn-primary btn-circle viewList" ng-click="changeView()" href="#/profile"><i class="fa fa-bars"></i></a>
			<a class="btn btn-primary btn-circle " ng-class="changeView" ng-click="changeView()" href="#/profile"><i class="fa fa-th"></i></a>|
			<a class="btn btn-primary btn-circle" href="#/profile-location"><i class="fa fa-location-arrow"></i></a>
			<a class="btn btn-primary btn-circle btn-schedule" href="#/profile-schedule"><i class="fa fa-calendar"></i></a>
			<a class="btn btn-primary btn-circle btn-meals" href="#/profile-meal"><i class="fa fa-cutlery"></i></a>
		</div>
		<div class="workouts">
			<div class="day" ng-repeat="day in schedule">
			  <div class="weekday">{{day.title}}</div>
			  <div class="workout" ng-repeat="workout in day.workout">
				<div class="workout-reps">
				  <span>{{workout.quantity}}</span>
				  <span>{{workout.type}}</span>
				</div>
				<div class="workout-title">
				  {{workout.title}}
				  <span ng-repeat="area in workout.area"><i class="fa fa-{{area}}"></i></span>
				</div>
			  </div>
			</div>
		</div>	
	</div>
</div>


<style>
	.header .app-brand  {
		display:none;
	}
</style>