<div class="page profile-page logged-in" ng-controller="ProfileCtrl as profile">

	<div class="app-head">
		<div class="profile-info" ng-repeat="info in myprofile" >
			<div class="profile-level level-{{info.level}}"><label>Level</label></div>
			<div class="profile-edit"><button class="btn btn-primary btn-small">Edit Profile</button></div>
		    <div class="profile-image" style="background-image: url('img/profile-images/profile.jpg')"></div>
			<div class="profile-username">{{info.name}}</div>
			<div class="profile-title">Fitness trainer & Kickboxer</div>
			<div class="profile-actions"></div>
			<div class="profile-location">Tampa, FL</div> 
		</div>
	</div>

	<div class="profile-feed" ng-class="viewOptions">
		<div class="post-options">
			<a href="#/profile-schedule" class="btn btn-primary btn-circle"><i class="fa fa-calendar"></i></a>
			<button class="btn btn-primary btn-circle"><i class="fa fa-cutlery"></i></button> |
			<button class="btn btn-primary btn-circle viewList" ng-click="changeView()"><i class="fa fa-bars"></i></button>
			<button class="btn btn-primary btn-circle viewThumbs" ng-class="changeView" ng-click="changeView()"><i class="fa fa-th"></i></button>|
			<button class="btn btn-primary btn-circle"><i class="fa fa-location-arrow"></i></button>
		</div>
  		<div class="post" ng-repeat="post in posts" >
  			<a href="" class="post-image" style="background-image:url('img/profile-images/{{post.image}}')"></a>
  			<div class="post-info">
  				<div class="post-actions" >
  					<div class="trophies">
  						<i class="fa fa-trophy"></i>
  						<span ng-show="post.trophies.length > 0">{{post.trophies}}</span>
  						<span ng-show="post.trophies.length === 0"> 0</span>
  					</div>
  					<div class="trainers" ng-show="post.trainer.length > 0">
  						<a class="">
  							<i class="fa fa-bolt"></i>
  							<span>{{post.trainer}}<span><sp
  						</a>
  					</div>
  					<div class="gym" ng-show="post.gym.length > 0">
  						<a class="">
  							<i class="fa fa-location-arrow"></i>
  							<span>{{post.gym}}<span>
  						</a>
  					</div>
  				</div>
  				<div class="post-comments">
					<div class="comments">
						<div class="comment" ng-repeat="comment in post.comments">
							<p><a href="{{comment.url}}" class="user">@{{comment.user}}</a><span>{{comment.comment}}</span></p>
						</div>
					</div>
  				</div>
  			</div>
  		</div>
  		
  	</div>
	
</div>


<style>
	.header .app-brand  {
		display:none;
	}
</style>