<div class="page profile-page logged-in" ng-controller="ProfileCtrl">
	<div ng-include="src='partials/header.html'"></div>
	<div ng-include="src='partials/profile-user.html'"></div>
	<div ng-include="src='partials/profile-menu.html'"></div>



	<!-- Page Content Start-->
	<div class="profile-feed locations" ng-class="viewOptions">
		<div class="check-ins">
			<div class="checkin-update" >
				<input type="search" placeholder="What are you doing now?">
				<a class="find-location"><i class="fa fa-location-arrow"></i></a> 
				<button class="btn btn-info btn-small">Post Update</button>
			</div>
			<div class="updates">
				<div class="update" ng-repeat="post in checkins">
					<div class="update-profile" ng-repeat="info in myprofile" style="background-image: url('img/profile-images/{{info.image}}.jpg')"></div>
					<span class="post">{{post.post}} </span> at <span class="post-location"> {{post.location}}</span> in <span>{{post.city}},{{post.state}}</span> on <span class="post-date">{{post.date}}</span>
				</div>
			</div>
		</div>	
	</div>
	<!-- Page Content End-->










	<div ng-include="src='partials/footer.html'"></div>
</div>

